.landing-page {
  height: 100vh;
  width: 100%;
  background-image: url("/images/sunshine.jpg");
  background-size: cover;
  display: flex; }

.city-search {
  width: 40%;
  text-align: center;
  margin: auto; }
  .city-search input {
    width: 70%; }
  .city-search button {
    display: block;
    text-align: center;
    margin: auto;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.4); }

.weather-page {
  height: 100%;
  width: 100%;
  background-image: url("/images/clouds.jpeg");
  background-size: cover;
  color: white; }
  .weather-page h1 {
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 7vh 0; }
  .weather-page h6 {
    font-size: 2rem;
    font-weight: bold; }
  .weather-page button {
    color: white;
    font-size: 1.25rem; }

.daily-weather {
  background-color: rgba(0, 0, 19, 0.4);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10vh; }
  .daily-weather li {
    border-radius: 5px;
    background-color: rgba(0, 0, 19, 0.3);
    list-style: none;
    padding: 0 10px;
    color: white; }
  .daily-weather p {
    margin: 0; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }
